<div id="editor" class="container">
  <img id="image" width="0px" src="<%= @project.image %>" display="hidden"></img>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="https://api.filestackapi.com/filestack_debug.js"></script>
<script type="text/javascript">
  //Moved to application.html.erb for faster loading
  var featherEditor = new Aviary.Feather({
    apiKey: '783d5402c251495d9f4f5b0721fc5f5',
    theme: 'dark',
    appendTo: 'editor',
    enableCORS: true,
    noCloseButton: true,
    launchDelay: 0,
    closeDelay: 10,
    onSave: function(imageID, newURL) {
      var img = document.getElementById(imageID);
      img.src = newURL;
      var version = parseInt('<%= @project.version %>');
      var blob = {
        url: '<%= @project.image %>',
        filename: '<%= @project.name %>'
      }
      filepicker.setKey("AszT4VzZRMm5R0BtsKYVoz");
      filepicker.writeUrl(blob, newURL, function(Blob){
        console.log(JSON.stringify(Blob));
        var obj = {project: { 
          version: version+1
          }
        };
        var data = JSON.stringify(obj);
        $.ajax({
          url: '<%= project_path %>',
          method: 'PATCH',
          data: data,
          contentType: 'application/json',
          success: function(resp){
            console.log(resp);
            featherEditor.close();
            window.location.replace("/projects");
          },
          error: function(err){
            alert(err);
          }
        })
      },
      function(err){
        console.log(err)
        alert(err);
      })
      
    },
    onLoad: function() {
        console.log('Ready to load')
        launchEditor();

        //Add a custom cancel button since there is not a nice one by default
        $('div.avpw_mode_action.avpw_mode_action_right').append("<a id=\"avpw_cancel_button\" href=\"javascript:void(0)\" class=\"avpw_button \">Cancel</a>")
        $('#avpw_save_button').offset({top: 10});
        $('#avpw_cancel_button').offset({top: 60});
        $('#avpw_save_button').css('background-image', null);
        console.log($('#avpw_cancel_button').css('background-image', ''))
        $('#avpw_cancel_button').on('click', function(){
          var isDirty = featherEditor.getIsDirty();

          if(isDirty){
            var cont = confirm("There are unsaved changes. Are you sure you want to cancel?");
            if(cont){
              featherEditor.close();
              window.location.replace('<%= @redirect_to %>');
            }
          } else {
            featherEditor.close();
            window.location.replace('<%= @redirect_to %>');
          }
        });

        //Fix the cancel button showing when it should not
        featherEditor.on('tool:open', function(toolname){$('body #avpw_cancel_button').toggle();
        })
        featherEditor.on('tool:cancel', function(toolname){$('body #avpw_cancel_button').toggle();
        })
        featherEditor.on('tool:commit', function(toolname){$('body #avpw_cancel_button').toggle();
        })
    },
    onError: function(error){
      console.log({
        image: 'image',
        url: '<%= @project.image %>'
    })
      console.log(error)
    }
  });

  function launchEditor() {
    featherEditor.launch({
        image: 'image',
        url: '<%= @project.image %>'
    });
    //return false;
  }
</script>
